<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBlog.styles.css" asp-append-version="true" />
    <script src="~/ckeditor5-build-classic/ckeditor.js"></script>

    @* bootstrap 5.3.2 *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    @* bootstrap icon *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    @* roboto, àfacad, be vietnam pro font *@
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white fixed-top shadow-sm">
            <div class="container">
                <a class="navbar-brand fs-4 pt-0 fw-bold text-primary-emphasis text-decoration-none"
                    asp-controller="Home" asp-action="Index">
                    golbym
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="under-score pb-1">
                                <i class="bi bi-house-door-fill"></i>
                                Trang chủ
                            </span>
                        </a>

                        <a class="nav-link text-black" asp-area="" asp-controller="Posts" asp-action="Index">
                            <span class="under-score pb-1">
                                @* <i class="bi bi-file-richtext-fill"></i> *@
                                <i class="bi bi-card-text"></i>
                                Bài viết
                            </span>
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-link text-black" asp-controller="Posts" asp-action="CreatePost">
                                <span class="under-score pb-1">
                                    @* <i class="bi bi-pencil-square"></i> *@
                                    <i class="bi bi-pen-fill"></i>
                                    Đăng bài
                                </span>
                            </a>
                        }

                        <a class="nav-link text-black" asp-area="" asp-controller="Posts" asp-action="Index">
                            <span class="under-score pb-1">
                                <i class="bi bi-chat-right-text-fill"></i>
                                Thảo luận
                            </span>
                        </a>
                    </div>
                    <div class="" style="width: 20rem">
                        <form asp-controller="Posts" asp-action="Index" method="get" class="input-group">
                            <input type="text" name="keyword" class="form-control"
                                placeholder="Tìm kiếm tiêu đề, hashtags...">

                            <button class="input-group-text btn btn-primary" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </form>
                    </div>

                    <div class="navbar-nav justify-contend-end">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 5rem;">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center bg-light border-top">
        <div class="container text-dark fw-bold fs-5">
            &copy; 2023 - golbym
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@

    @* jQuery *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @* custom js *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
