@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyBlog.Areas.Identity.Models.BlogUser> SignInManager
@inject UserManager<MyBlog.Areas.Identity.Models.BlogUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-black h5 mb-0" style="padding-top: 12px" asp-area="Identity" asp-controller="Account"
            asp-action="ShowProfile">
            <span class="">@UserManager.GetUserName(User)</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-black ms-4 px-0" asp-area="Identity" asp-controller="Account" asp-action="Logout">
            <span class="under-score pb-1">Đăng xuất</span>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-black ms-4 px-0" asp-area="Identity" asp-controller="Account" asp-action="Login">
            <span class="under-score pb-1">Đăng nhập</span>
        </a>
    </li>
    @*
<li class="nav-item ms-4">
<a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">
Đăng ký
</a>
</li> *@
}