.main-bg-color {
    background-color: #cce5ff;
}

.under-score {
    border: 2px solid white;
}

.under-score:hover {
    border-bottom: 2px solid black;
}

.search-post {
    border: none;
}

.user-name:hover {
    color: red;
    transition: 0.3s;
}

#editor {
    width: 635px;
}

.no-radius {
    border-radius: 0px;
}

.radius-8 {
    border-radius: 8px !important;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hidden-link {
    display: none;
}
