@model PostDTO

@{
    ViewData["Title"] = "Tạo bài viết mới";
}

<div class="d-flex justify-content-center">
    <form asp-action="CreatePost" enctype="multipart/form-data" class="w-50">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Title" class="form-label fs-5 h5"></label>
            <input asp-for="Title" type="text" class="form-control" placeholder="Nhập tiêu đề">
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label fs-5 h5"></label>
            <input asp-for="Image" type="file" name="Image" class="form-control" placeholder="Chọn hình ảnh">
        </div>

        <div class="mb-4">
            <label asp-for="Content" class="form-label fs-5 h5"></label>
            <textarea asp-for="Content" id="editor"></textarea>
        </div>

        <div class="mb-4">
            <div class="mb-3">
                <label asp-for="Tags" class="form-label fs-5 h5 d-inline me-1"></label>
                <ul id="ul" class="ps-0 d-inline">
                    @* tags here *@
                </ul>
            </div>
            <input type="text" id="input-tags" class="form-control" placeholder="Nhập #hashtag liên quan...">
            <input asp-for="Tags" type="hidden" id="hidden-input">
        </div>

        <button id="button" class="btn btn-outline-dark fs-5 fw-bold no-radius">Tạo bài viết</button>
        <a asp-controller="Posts" asp-action="Index" class="btn btn-dark fs-5 ms-3">Hủy</a>
    </form>
</div>

@section Scripts {

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>


    <script>
        $(document).ready(function () {
            const ul = document.getElementById('ul');
            const inputTags = document.getElementById('input-tags');
            const inputHidden = document.getElementById('hidden-input')

            inputTags.addEventListener('keydown', function (event) {
                if (inputTags.value.trim() !== '' && event.key === ' ') {
                    inputHidden.value += inputTags.value.replace(/\s+/g, '') + ',';

                    let li = document.createElement('li');
                    li.classList.add('d-inline', 'btn', 'btn-outline-dark', 'me-2', 'text-center');

                    li.textContent = '#' + inputTags.value.replace(/\s+/g, '');
                    ul.appendChild(li);

                    inputTags.value = '';
                    inputTags.focus();
                }
            });
        });
    </script>
}