@{
    ViewData["Title"] = "Chỉnh sửa bài viết";
}

@model PostDTO

<div class="d-flex justify-content-center">
    <form asp-action="EditPost" enctype="multipart/form-data" class="w-50">
        <input type="hidden" asp-for="Id">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Title" class="form-label fs-5 fw-bold"></label>
            <input asp-for="Title" type="text" class="form-control" placeholder="Nhập tiêu đề">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label fs-5 fw-bold"></label>
            <input asp-for="Image" type="file" name="Image" class="form-control" placeholder="Chọn hình ảnh">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Content" class="form-label fs-5 fw-bold"></label>
            <textarea asp-for="Content" id="editor"></textarea>
            <span asp-validation-for="Content"></span>
        </div>

        <div class="fw-bold mt-4 mb-3">
            Các tag liên quan:
            @if (string.IsNullOrEmpty(Model.Tags))
            {
                <span class="fw-normal fst-italic">Không có hashtag nào!</span>
            }
            else
            {

                @foreach (var tag in Model.Tags.Split(','))
                {
                    if (!string.IsNullOrEmpty(tag))
                    {
                        <a asp-controller="Posts" asp-action="SearchPosts" asp-route-keyword="@tag" class="ms-2">#@tag</a>
                    }
                }
            }
        </div>

        <div class="mb-4">
            <div class="mb-3">
                <label asp-for="Tags" class="form-label fs-5 fw-bold d-inline me-1"></label>
                <ul id="ul" class="ps-0 d-inline">
                    @* tags here *@
                </ul>
            </div>
            <input type="text" class="form-control" id="input-tags" placeholder="Nhập #hashtag...">
            <input type="hidden" asp-for="Tags" id="hidden-input">
        </div>

        <button class="btn btn-outline-dark fs-5 fw-bold">Cập nhật</button>
        <a asp-controller="Posts" asp-action="ShowPostDetail" asp-route-id="@ViewBag.PostId"
            class="btn btn-dark fs-5 ms-3">Hủy</a>
    </form>
</div>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script>
        $(document).ready(function () {
            const ul = document.getElementById('ul');
            const inputTags = document.getElementById('input-tags');
            const inputHidden = document.getElementById('hidden-input')

            inputTags.addEventListener('keydown', function (event) {
                if (inputTags.value.trim() !== '' && event.key === ' ') {
                    inputHidden.value += inputTags.value.replace(/\s+/g, '') + ',';

                    let li = document.createElement('li');
                    li.classList.add('d-inline', 'btn', 'btn-outline-dark', 'me-2', 'text-center');

                    li.textContent = '#' + inputTags.value.replace(/\s+/g, '');
                    ul.appendChild(li);

                    inputTags.value = '';
                    inputTags.focus();
                }
            });
        });
    </script>
}